#home{
  width:100%;
  height:500px;
  background-color:#fecc00;
}

#contact{
  width:100%;
  height:500px;
  background-color:#005643;
  
}

nav a {
  background-color: gray;
  color: #000;
  line-height: 38px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

nav {
  position: fixed;
  top: 0;
}

.main-wraper{
  width:100%;
  height:auto;
  
}

.menu {
  height: 100px;
  margin: 0 auto;
  width: 100%;
}
